@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-2">@ViewData["Title"]</h1>
</div>

<!-- Emergency Care Section -->
<div class="service-section">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/hp.png" alt="About us" class="about-img" width="400px" height="300px">
        </div>
        <div class="col-md-6">
           
            <p class="about-description">
            <p>We are one of Western Australia’s leading private health campuses, providing excellence in health care for our community..</p>
            <p>
                St John of God Murdoch Hospital is a private hospital and a division of St John of God Health Care, one of Australia's largest health care providers.

                We are one of Western Australia’s leading private health campuses, providing compassionate and high quality health care for our community.

                Stage 2 of the hospital’s redevelopment project is now complete - the last component being the renovation of the original six 1994 wards.
            </p>
            <p>
                Established in 1994, St John of God Murdoch Hospital provides:

                <ul>
                    <li>a 24 hour Emergency Department</li>
                    <li>medical and surgical services</li>
                    <li>paediatrics</li>
                    <li>maternity</li>
                    <li>palliative care</li>
                    <li>critical and coronary care.</li>
                </ul>
   </p>
             <p> There has been significant growth in research at the Hospital, in the areas of clinical oncology trials, orthopaedics, emergency medicine, intensive care, cardiology and nursing-led research.

                Many studies are delivering impressive results, with the focus on patient-centred management and innovative approaches to evaluating patient outcomes.
            </p>
            </p>
        </div>
    </div>
</div>

