@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-2">@ViewData["Title"]</h1>
</div>

<div class="container text-center">
    <img src="~/images/hp2.png" alt="Hospital Image" class="img-fluid" />
    <p>We value your feedback and inquiries. If you have any questions, concerns, or suggestions, please feel free to reach out to us using the information below.</p>

    <table class="table table-bordered">
        <tr>
            <th>Information</th>
            <th>Details</th>
        </tr>
        <tr>
            <td><strong>Hospital Name:</strong></td>
            <td>St John of God Murdoch Hospital</td>
        </tr>
        <tr>
            <td><strong>Head Office Address:</strong></td>
            <td>St John of God Health Care
                Level 1, 556 Wellington Street
                Perth WA 6000
            </td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td>
            <td> 08 6116 0000</td>
        </tr>
        <tr>
            <td><strong>Melbourne Office Address:</strong></td>
            <td>
                St John of God Health Care
                Level 4, 360 Collins Street
                Melbourne VIC 3000
            </td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td>
            <td>03 9205 6500</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td><a href="mailto:stJohn@email.com">stJohn@email.com</a></td>
        </tr>
        <tr>
            <td><strong>Website:</strong></td>
            <td><a href="http://sghp.com">stJohn.com</a></td>
        </tr>
        <tr>
            <td><strong>Office Hours:</strong></td>
            <td>
                Monday to Friday: 8:00 AM - 8:00 PM<br>
                Saturday: 9:00 AM - 5:00 PM<br>
                Sunday: Closed
            </td>
        </tr>
        <tr>
            <td><strong>Emergency Contact:</strong></td>
            <td>+61 1988 8888</td>
        </tr>
    </table>

    <p>We are here to help you and provide the care you need.</p>
</div>