@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
 
    <div class="home">
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/welcome.png" alt="welcome Care" width="300px" height="250px">
            </div>
            <div class="col-md-6">
             
                <p>We are committed to delivering exceptional healthcare services tailored to meet the needs of our community. Our hospital management has been at the forefront of medical excellence, combining innovation and compassion in patient care.</p>

                <p>We offer a wide range of services, from emergency care to specialized treatments, all backed by state-of-the-art technology and facilities.</p>

            </div>
        </div>
        
    </div>

