@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<!-- Privacy Section -->
<div class="privacy-section">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/privacy.png" alt="About us" class="about-img" width="500px" height="300px">
        </div>
        <div class="col-md-6">

            <p class="about-privacy">
            <p>
                St John of God Health Care is committed to upholding the dignity of each person. 
                Guided by the value of respect, we will manage all personal information in accordance with privacy legislation.
            </p>
            <p>
                This Privacy Policy applies to St John of God Health Care Inc and any related body corporate, collectively referred to as "SJGHC".

                SJGHC is committed to upholding the dignity of each person. Guided by the value of respect, we will manage all personal information in accordance with the Australian Privacy Principles (APPs) and the Notifiable Data Breaches Scheme (NDB Scheme) under the Privacy Act 1988 (Cth) (Privacy Act) and all other relevant Commonwealth and State legislation (together "Privacy Legislation"). This SJGHC Privacy Policy details how your personal information is collected, used, stored and disclosed by SJGHC and how you may contact us if you would like to access or correct your personal information. 
                It also details how we respond if there is an Eligible Data Breach.
            </p>
            <p>

                In this Privacy Policy:

                “we”, “us” or “our” refers to SJGHC; and
                "you" and "your" refers to any person whose personal information we collect, except employee records.
                You consent to us collecting, holding, using and disclosing your personal information in accordance with this Privacy Policy.
           
            </p>
        </div>
    </div>
</div>

